<template>
  <div class="app-card-flip-container" v-on:click="toggle">
    <div class="app-card-flipper">
      <div class="app-card-front" v-bind:class="{ 'app-card-front-flip': shown }">
        <div class="app-card-front">
          <div class="w3-theme-l4 app-card-front-inner">
            <cubes-pattern />
          </div>
        </div>
      </div>
      <div class="app-card-back app-card-text" v-bind:class="{ 'app-card-back-flip': shown }">
        {{ card.text }}
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { Card } from "../services/kubos.service";
import CubesPattern from "./CubesPattern.vue"; // NOSONAR

defineProps<{ card: Card }>();

const shown = ref(false);

function toggle(): void {
  shown.value = !shown.value;
}
</script>

<style lang="scss">
@import "@/assets/common.scss";

$app-card-body-inner-padding: 10px;

.app-card-flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
  width: $app-card-width;
  height: $app-card-height;
  margin: 1rem;
}

.app-card-back-flip {
  transform: rotateY(0deg) !important;
}

.app-card-front-flip {
  transform: rotateY(180deg) !important;
}

.app-card-flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.app-card-body {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: $app-shadow;
}

.app-card-front {
  @extend .app-card-body;
  z-index: 2;
  transform: rotateY(0deg);
}

.app-card-front:hover {
  cursor: pointer;
}

.app-card-front-inner {
  padding: $app-card-body-inner-padding;
  height: 100%;
}

.app-card-back {
  @extend .app-card-body;
  transform: rotateY(-180deg);
  overflow: auto;
}
</style>