<template>
  <svg width="100%" height="100%">
    <pattern id="pattern-cubes" x="0" y="126" patternUnits="userSpaceOnUse" width="16" height="25" viewBox="0 0 10 16">
      <g id="cube">
        <path class="app-card-left-shade" d="M0 0l5 3v5l-5 -3z"></path>
        <path class="app-card-right-shade" d="M10 0l-5 3v5l5 -3"></path>
      </g>
      <use x="5" y="8" xlink:href="#cube"></use>
      <use x="-5" y="8" xlink:href="#cube"></use>
    </pattern>
    <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-cubes)"></rect>
  </svg>
</template>

<style lang="scss">
@import "@/assets/common.scss";

.app-card-left-shade {
  fill: $theme;
}

.app-card-right-shade {
  fill: $theme-l1;
}
</style>