<template>
  <div id="app-error-dialog" class="w3-modal ppa-ajax-error" v-if="errorMessage">
    <div class="w3-modal-content w3-card">
      <header class="w3-container w3-theme">
        <h2>
          <font-awesome-icon :icon="['fas', 'exclamation-triangle']" />Error
        </h2>
      </header>
      <div class="w3-container w3-theme-l5">
        <p>{{ errorMessage }}</p>
      </div>
      <footer class="w3-bar w3-theme w3-padding">
        <div class="w3-right">
          <a class="w3-bar-item w3-button w3-theme-l5" v-on:click="dismissError">Ok</a>
        </div>
      </footer>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faExclamationTriangle } from "@fortawesome/free-solid-svg-icons";
import { storeToRefs } from 'pinia';
import { useErrorStore } from "../stores/error.store";

library.add(faExclamationTriangle);

const errorStore = useErrorStore();

const { errorMessage } = storeToRefs(errorStore);

function dismissError(): void {
  errorStore.clearErrorMessage();
}
</script>

<style lang="scss">
.ppa-ajax-error {
  display: block;
}
</style>