<template>
  <div class="w3-container app-kubos-box">
    <div class="w3-row w3-section">Share this URL with your colleagues:</div>
    <div class="w3-row w3-section">
      <div class="w3-col app-copy-icon">
        <button @click="copy(url)" title="Copy">
          <font-awesome-icon :icon="['fas', 'copy']" />
        </button>
      </div>
      <div class="w3-rest">
        <a id="user-link" v-bind:href="url" target="_blank">{{ url }}</a>
      </div>
    </div>
    <div class="w3-row w3-section">
      Write down this URL to manage and view this Kubos Channel:
    </div>
    <div class="w3-row w3-section">
      <div class="w3-col app-copy-icon">
        <button @click="copy(ownerUrl)" title="Copy">
          <font-awesome-icon :icon="['fas', 'copy']" />
        </button>
      </div>
      <div class="w3-rest">
        <a id="owner-link" v-bind:href="ownerUrl">{{ ownerUrl }}</a>
      </div>
    </div>
    <p class="w3-center">
      <button id="kubos-delete" type="button" class="w3-btn w3-theme" :disabled="isDeleteDisabled"
        v-on:click="deleteKubos">
        <font-awesome-icon :icon="['fas', 'trash']" />
      </button>
      <label for="kubos-delete-confirm" class="w3-small">&nbsp;Confirm delete:&nbsp;</label>
      <input id="kubos-delete-confirm" class="w3-check" type="checkbox" v-model="isDeleteConfirmed" />
    </p>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from "vue";
import { useRouter } from "vue-router";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faTrash, faCopy } from "@fortawesome/free-solid-svg-icons";
import useClipboard from "vue-clipboard3";
import { useErrorStore } from "../stores/error.store";
import { kubosService } from "../services/kubos.service";

library.add(faTrash);
library.add(faCopy);

const { toClipboard } = useClipboard();

const errorStore = useErrorStore();

const props = defineProps<{ id: string; kkey: string }>();

const isDeleting = ref(false);
const isDeleteConfirmed = ref(false);

const url = computed(() => {
  return window.location.href.replace(/\?.*/, "");
});
const ownerUrl = computed(() => {
  return window.location.href;
});
const isDeleteDisabled = computed(() => {
  return isDeleting.value || !isDeleteConfirmed.value;
});

const router = useRouter();

async function deleteKubos(): Promise<void> {
  try {
    isDeleting.value = true;
    await kubosService.delete(props.id, props.kkey);
    router.push({
      name: "KubosCreate",
    });
  } catch (err) {
    console.error(err);
    errorStore.setErrorMessage(`${err}`);
  } finally {
    isDeleting.value = false;
  }
}
async function copy(text: string): Promise<void> {
  toClipboard(text);
}
</script>

<style lang="scss">
.app-copy-icon {
  width: 50px;
  padding: 0;
}
</style>
