<template>
  <div class="w3-content w3-container">
    <div class="app-half">
      <div class="w3-container app-half-inner">
        <form v-on:submit.prevent>
          <div>
            <label for="newcard-text">Write your message to a colleague</label>
            <textarea id="newcard-text" class="w3-input w3-border app-add-textarea" v-model="cardText"></textarea>
          </div>
          <p class="w3-center">
            <button id="newcard-add" type="button" class="w3-btn w3-theme" :disabled="isAddDisabled"
              v-on:click="addCard">
              Send card
            </button>
          </p>
          <p v-if="isAddedVisible">
            Card added. You can add a new one, if you wish.
          </p>
        </form>
      </div>
    </div>
    <div class="app-half">
      <div class="w3-container app-half-inner">
        <div>Some samples for inspiration...</div>
        <transition name="fade" mode="out-in">
          <div :key="sampleCard" class="app-sample-card app-card-text">
            {{ sampleCard }}
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, ref } from "vue";
import { useErrorStore } from "../stores/error.store";
import { kubosService } from "../services/kubos.service";

const sampleCards = [
  //  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.\nAenean sodales finibus molestie.\n   Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ut gravida felis, nec suscipit nunc. Donec tincidunt rutrum nibh, eu rutrum velit condimentum blandit. Nullam at magna at quam convallis dapibus. Cras tincidunt efficitur feugiat. Quisque aliquam velit eget cursus dictum. Donec eget scelerisque lorem. Mauris gravida rhoncus ipsum. Integer fermentum accumsan facilisis. Nulla ullamcorper ut odio ut suscipit. Nullam erat orci, euismod eu velit et, varius ornare dui. Sed hendrerit, lectus vel lobortis rhoncus, sapien ligula imperdiet purus, in vulputate ipsum est nec urna.",
  "Thanks, Captain America, for not giving up when everybody else did.",
  "Awesome, Toni.\nSending the nuke through the hole saved the day.",
  "Great job, Sam.\n\nYou holded Frodo when he could not.",
  "Congratulation, Aragorn, for your wedding.",
  "Very sad, Black Widow.\n       We\n        miss\n         you",
];

const SAMPLE_CHANGE_MS = 5000;

const errorStore = useErrorStore();

const props = defineProps<{ id: string }>();

const cardText = ref("");
const isAdding = ref(false);
const added = ref(false);
const sampleCard = ref(sampleCards[0]);
const currentSample = ref(sampleCards.length - 1);

const isAddDisabled = computed(() => {
  return isAdding.value || cardText.value === "";
});

const isAddedVisible = computed(() => {
  return added.value && cardText.value === "";
});

onMounted(async () => {
  changeSample();
});

async function addCard(): Promise<void> {
  try {
    isAdding.value = true;
    added.value = false;
    await kubosService.add(props.id, cardText.value);
    added.value = true;
    cardText.value = "";
  } catch (err) {
    console.error(err);
    errorStore.setErrorMessage(`${err}`);
  } finally {
    isAdding.value = false;
  }
}

function changeSample(): void {
  currentSample.value = (currentSample.value + 1) % sampleCards.length;
  sampleCard.value = sampleCards[currentSample.value];
  setTimeout(changeSample, SAMPLE_CHANGE_MS);
}
</script>

<style lang="scss">
@import "@/assets/common.scss";

.app-half {
  float: left;
  width: 100%;
}

@media (min-width: 751px) {
  .app-half {
    width: 49.99999%;
  }
}

.app-half-inner {
  max-width: $app-card-width + 50px;
  margin: auto;
}

.app-card-like {
  width: $app-card-width;
  height: $app-card-height;
  box-shadow: $app-shadow;
  color: $theme;
}

.app-add-textarea {
  @extend .app-card-like;
  resize: none;
  padding: 16px;
}

.app-sample-card {
  @extend .app-card-like;
  overflow: auto;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>