$app-w3-screen-width-small: 601px;
$app-w3-screen-width-medium: 993px;
$app-w3-screen-width-large: 1205px;


$theme: #822c82;
$theme-l1: #b33db3;

$app-card-width: 300px;
$app-card-height: 200px;
$app-card-body-inner-padding: 10px;

$app-shadow: 2px 2px 6px 0px;
