<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <link rel="stylesheet" href="<%= BASE_URL %>css/w3.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/theme.css">
  <title>Kubos</title>
  <script src="https://getinsights.io/js/insights.js"></script>
  <script>
    insights.init('kTgfkYn6ABieyNPM', {
      ignoreErrors: <%= VUE_APP_GETINSIGHTS_IGNOREERRORS %>,
      disabled: <%= VUE_APP_GETINSIGHTS_DISABLED %>
    });
    insights.trackPages();
  </script>
</head>

<body>
  <noscript>
    <strong>We're sorry but Kubos doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>