.w3-theme-l5 {color:#000 !important; background-color:#faf0fa !important}
.w3-theme-l4 {color:#000 !important; background-color:#eecdee !important}
.w3-theme-l3 {color:#000 !important; background-color:#dd9bdd !important}
.w3-theme-l2 {color:#fff !important; background-color:#cc69cc !important}
.w3-theme-l1 {color:#fff !important; background-color:#b33db3 !important}
.w3-theme-d1 {color:#fff !important; background-color:#742874 !important}
.w3-theme-d2 {color:#fff !important; background-color:#672367 !important}
.w3-theme-d3 {color:#fff !important; background-color:#5a1f5a !important}
.w3-theme-d4 {color:#fff !important; background-color:#4e1b4e !important}
.w3-theme-d5 {color:#fff !important; background-color:#411641 !important}

.w3-theme-light {color:#000 !important; background-color:#faf0fa !important}
.w3-theme-dark {color:#fff !important; background-color:#411641 !important}
.w3-theme-action {color:#fff !important; background-color:#411641 !important}

.w3-theme {color:#fff !important; background-color:#822c82 !important}
.w3-text-theme {color:#822c82 !important}
.w3-border-theme {border-color:#822c82 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#822c82 !important}
.w3-hover-text-theme:hover {color:#822c82 !important}
.w3-hover-border-theme:hover {border-color:#822c82 !important}