<template>
  <div id="app">
    <header class="w3-top w3-bar w3-theme-d4">
      <div class="w3-left">
        <router-link to="/">
          <button class="w3-bar-item w3-button w3-xlarge w3-hover-theme" aria-label="Add">
            <font-awesome-icon :icon="['fas', 'plus']" aria-hidden="true" />
          </button>
        </router-link>
      </div>
      <div class="w3-right">
        <a href="https://gitlab.com/javier-sedano/kubos">
          <button class="w3-bar-item w3-button w3-xlarge w3-hover-theme" aria-label="Contact">
            <font-awesome-icon :icon="['fab', 'gitlab']" aria-hidden="true" />
          </button>
        </a>
        <a href="https://jsedano.duckdns.org/contact.html">
          <button class="w3-bar-item w3-button w3-xlarge w3-hover-theme" aria-label="Source">
            <font-awesome-icon :icon="['fas', 'envelope']" aria-hidden="true" />
          </button>
        </a>
        <router-link to="/">
          <img class="w3-circle app-header-image" src="./assets/app.png" alt="app" />
        </router-link>
      </div>
    </header>
    <error-render />
    <div class="w3-padding w3-text-theme w3-display-container app-main-content">
      <router-view />
    </div>
    <footer class="w3-container w3-bottom w3-theme-d4 w3-margin-top w3-bar">
      <div class="w3-left app-footer-version">
        Version {{ version }}
      </div>
      <div class="w3-right app-footer-copyright">
        <router-link to="/privacy">Privacy</router-link>
        <font-awesome-icon :icon="['fas', 'copyright']" />Javier Sedano
        2020-2022,
        <font-awesome-icon :icon="['fab', 'creative-commons']" />
        <font-awesome-icon :icon="['fab', 'creative-commons-by']" />
        <font-awesome-icon :icon="['fab', 'creative-commons-sa']" />
        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a>
      </div>
    </footer>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faCopyright,
  faPlus,
  faEnvelope,
} from "@fortawesome/free-solid-svg-icons";
import {
  faCreativeCommons,
  faCreativeCommonsBy,
  faCreativeCommonsSa,
  faGitlab,
} from "@fortawesome/free-brands-svg-icons";
import { versionService } from "./services/version.service";
import ErrorRender from "./components/ErrorRender.vue"; // NOSONAR

library.add(
  faCopyright,
  faPlus,
  faEnvelope,
  faCreativeCommons,
  faCreativeCommonsBy,
  faCreativeCommonsSa,
  faGitlab
);

const version = ref("");

onMounted(async () => {
  version.value = await versionService.getVersion();
});
</script>

<style lang="scss">
@import "@/assets/common.scss";
$app-header-height: 52px;
$app-footer-height-small: 15px;
$app-footer-height-medium: 22px;

.app-header-icon {
  margin-top: 13px;
  margin-bottom: 13px;
}

.app-header-image {
  height: 52px;
}

.app-main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: $app-header-height;
  margin-bottom: $app-footer-height-small;
}

@media (min-width: $app-w3-screen-width-small) {
  .app-main-content {
    margin-bottom: $app-footer-height-medium;
  }
}

.app-footer-version {
  font-size: 7px;
  position: absolute;
  bottom: 0;
}

.app-footer-copyright {
  font-size: 10px;
}

@media (min-width: $app-w3-screen-width-small) {
  .app-footer-version {
    font-size: 10px;
  }

  .app-footer-copyright {
    font-size: 15px;
  }
}

.app-invisible {
  visibility: hidden;
}
</style>
