<template>
  <div>
    <div class="w3-content app-create-instructions">
      <p>
        You can create a new Kubos Channel here. If you are trying to send a
        card to an existing Kubos Channel, you need to use the link provided by
        the owner of the channel.
      </p>
    </div>
    <div class="w3-content app-create-box">
      <div class="w3-container w3-theme">
        <div class="w3-large">Create a new Kubos Channel</div>
      </div>
      <form class="w3-container" v-on:submit.prevent>
        <p>
          <label for="newchannel-title">Channel Title</label>
          <input id="newchannel-title" class="w3-input w3-border" type="text" v-model="title"
            v-on:keyup.enter="create" />
        </p>
        <p class="w3-center">
          <button id="newchannel-create" type="button" class="w3-btn w3-theme" :disabled="isCreateDisabled"
            v-on:click="create">
            Create
          </button>
        </p>
      </form>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from "vue";
import { useRouter } from "vue-router";
import { kubosService } from "../services/kubos.service";
import { useErrorStore } from "../stores/error.store";

const errorStore = useErrorStore();

const title = ref("");
const isCreating = ref(false);

const isCreateDisabled = computed(() => {
  return isCreating.value || title.value === "";
});

const router = useRouter();

async function create(): Promise<void> {
  try {
    isCreating.value = true;
    const kubosData = await kubosService.create(title.value);
    router.push({
      name: "KubosView",
      params: { id: kubosData.id },
      query: { key: kubosData.key },
    });
  } catch (err) {
    console.error(err);
    errorStore.setErrorMessage(`${err}`);
  } finally {
    isCreating.value = false;
  }
}
</script>


<style lang="scss">
@import "@/assets/common.scss";

.app-create-instructions {
  max-width: 600px;
}

.app-create-box {
  max-width: 600px;
  box-shadow: $app-shadow;
}
</style>