<template>
  <div>
    <div class="w3-center" v-if="kubos === undefined">
      <font-awesome-icon :icon="['fas', 'spinner']" size="6x" spin />
    </div>
    <div class="w3-large app-kubos-box app-not-found" v-else-if="kubos === null">
      <p>The Kubos Channel you are looking for does not exist.</p>
      <ul>
        <li>Maybe it has been removed by the owner.</li>
        <li>Maybe it was too old and has been automatically removed.</li>
        <li>Maybe someone made a mistake with the link.</li>
      </ul>
      <p>Contact the person who sent you the link.</p>
    </div>
    <div class="w3-large" v-else>
      <div id="kubos-title" class="w3-center w3-section">{{ kubos.title }}</div>
      <kubos-add-card v-bind:id="id" v-if="key === null" />
      <kubos-manage v-bind:id="id" v-bind:kkey="key" v-if="key !== null" />
      <div class="app-cards" v-if="kubos.cards !== undefined">
        <card-render v-for="card in kubos.cards" v-bind:key="card.text" v-bind:card="card" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faSpinner } from "@fortawesome/free-solid-svg-icons";
import { kubosService, Kubos } from "../services/kubos.service";
import { useErrorStore } from "../stores/error.store";
import KubosAddCard from "../components/KubosAddCard.vue"; // NOSONAR
import CardRender from "../components/CardRender.vue"; // NOSONAR
import KubosManage from "../components/KubosManage.vue"; // NOSONAR

library.add(faSpinner);

const errorStore = useErrorStore();

const kubos = ref<Kubos | null>(null);
const id = ref<string>("");
const key = ref<string | null>(null);

onMounted(async () => {
  const route = useRoute();
  id.value = route.params.id as string;
  const keyParam = route.query.key as string | null | undefined;
  key.value = keyParam ?? null;
  loadKubos();
});

async function loadKubos(): Promise<void> {
  try {
    kubos.value = null;
    kubos.value = await kubosService.get(id.value, key.value);
  } catch (err) {
    console.error(err);
    errorStore.setErrorMessage(`${err}`);
  }
}

</script>


<style lang="scss">
@import "@/assets/common.scss";

$app-kubos-max-width: 1000px;

.app-kubos-box {
  max-width: $app-kubos-max-width - 100px;
  box-shadow: $app-shadow;
  margin: 16px auto;
}

.app-not-found {
  padding: 16px;
}

.app-cards {
  max-width: $app-kubos-max-width;
  margin: 16px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.app-card-text {
  white-space: pre-wrap;
  padding: 16px;
}
</style>