<template>
  <div>
    <h1>Privacy policy</h1>
    <p>This web does not use any kind of user tracking. It uses <a href="https://getinsights.io/">Insights</a> for
      analytics.</p>
    <p>The data gattered through this web page will not be shared with third-parties, but may be visible to
      administrators of the service, so private or confidential information should not be stored in the cards.</p>
    <p>The cards written to kubos channels will be visible to anybody having the corresponding management link, but we
      will not share such link with third-parties.</p>
    <p>This service is in beta-state.</p>
  </div>
</template>

